@model UserRoleVM
@using BookShop.Models.ViewModels;
<div >


    <div class="border p-3 mt-4 row">
        <h2 class="text-primary">Update User</h2>
        <hr/>
            <form method="post" asp-action="Edit">
                     <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label>Role</label>
                        <select class="form-control" asp-for="Role" asp-items="ViewBag.Roles">
                            <option disabled selected>Select Role</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}