<div class="container">

    <p class="text-muted" style="font-size:20px;margin-top:7vh">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime natus nesciunt autem veritatis aut quibusdam, perspiciatis molestias a, tempore ipsa quisquam, facilis nisi quis deleniti doloribus fugit ut voluptatum. Ducimus nulla quod quaerat perspiciatis aspernatur porro nobis molestias laboriosam assumenda hic id sequi, dolore quam quos impedit fugit doloribus est?The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with their software. Today it's seen all around the web; on templates, websites, and stock designs. Use our generator to get your own, or read on for the authoritative history of lorem ipsum.
    </p>


    <div class="text-center">
        <h3 class="text-primary">Our Team</h3>
        <hr/>
    </div>
    <div class="row teamInfo">
        <div class="col-4 text-center">
            <img src="/images/default.png" alt="Admin">
            <h3>Abdulla Rahman</h3>
            <h5>Lead Developer</h5>
            <a href="https://www.facebook.com/profile.php?id=100085417231218" class="btn btn-outline-primary">Contact</a>
        </div>
        <div class="col-4 text-center">
            <img src="/images/default.png" alt="Admin">
            <h3>Member 2</h3>
            <h5>Back End Developer</h5>
            <a href="#" class="btn btn-outline-primary">Contact</a>
        </div><div class="col-4 text-center">
            <img src="/images/default.png" alt="Admin">
            <h3 >Member 3</h3>
            <h5>Front end Designer</h5>
            <a href="#" class="btn btn-outline-primary">Contact</a>
        </div>
    </div>
</div>


<style>
    .teamInfo{
        margin-bottom:200px;
    }
    .teamInfo img{
        width:200px;
    }
</style>
