@using BookShop.Models.ViewModels;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Notification" />

<div class="container " style="width:90%">
    <div class="row">
        @foreach (var obj in Model)
        {
            <div class="col-6 col-md-4 col-lg-3">
                <a href="@Url.Action("Details", "Home", new { id = obj.Id })">
                    <div class=" mb-4" style="text-align:center">
                        <div class="image-container">
                            <img src="@obj.ImageUrl" class="card-img-top image" style="height:200px;width:150px;" alt="Product Image">
                        </div>
                        <p>@obj.Title</p>
                        <p style="margin-top:-20px"><strong>Tk. </strong>@(obj.Price)</p>
                    </div>
                </a>
            </div>
        }
    </div>

    <div class="text-center">
        <a class="btn btn-outline-primary" asp-area="Customer" asp-controller="Home" asp-action="AllProduct">All Products</a>
    </div>
</div>





<style>
    .image-container {
        position: relative;
        overflow: hidden;
    }

    .image {
        transition: transform 0.3s ease;
    }

    .image-container:hover .image {
        transform: scale(1.05);
    }

    .image-container img {
        height: 200px;
        width: 150px;
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.image-container').hover(function () {
            $(this).find('.card-overlay').stop().animate({ opacity: 1 }, 300);
        }, function () {
            $(this).find('.card-overlay').stop().animate({ opacity: 0 }, 300);
        });
    });
</script>
